/* .bg-gauche {
    background: aliceblue;
}

.bg-milieu {
    background: purple;
}

.bg-droite {
    background: peru;
} */

img {
    width: 100%;
}

.col {
    padding: 0 !important;
}

.badge-inactive {
    border-radius: 20px;
    border: 1px solid #F4F4F4;
    color: #dee2e6;
}

.badge-inactive:hover {
    border: 1px solid #2A4BFB;
    background: #2A4BFB;
    color: white;
    cursor: pointer;
}

.badge-active {
    border-radius: 20px;
    border: 1px solid #2A4BFB;
    color: white;
    background: #2A4BFB;
    cursor: pointer;

}